/* Start Variables*/
:root {
  --main-color: #10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

@media (min-width: 768px){
  .container{
    width: 750px;
  }
  .special-heading{
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

@media (min-width: 992px){
  .container{
    width: 970px;
  }
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 50px;
}

.header .container .links {
  position: relative;
}

.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .container .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}

.header .container .links .icon span:first-child {
  height: 2px;
  width: 100%;
}

.header .container .links .icon span:nth-child(2) {
  height: 2px;
  width: 60%;
  transition: 3s;
}

.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links .icon span:last-child {
  height: 2px;
  width: 100%;
}

.header .container .links ul {
  min-width: 200px;
  margin: 0;
  padding: 0;
  top: calc(100%+15px);
  right: 0;
  list-style: none;
  background-color: #f6f6f6;
  position: absolute;
  display: none;
}

.header .container .links:hover ul {
  display: block;
  z-index: 1;
}

.header .container .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .container .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .container .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/background.png);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
  text-align: center;
  width: 350px;
  max-width: 100%;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .container .feat {
  padding: 20px;
  text-align: center;
}

.features .container .feat i {
  color: var(--main-color);
}

.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
/* End Components */
/* Start Services */
.services {
  padding: 60px 60px 0 0;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .srv i{
    width: 100%;
    padding-bottom: 15px;
  }
  .portfolio .portfolio-content .card {
    text-align: center;
  }
}

.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .srv .text {
  flex: 1;
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}

.services .services-content .image img {
  width: 260px;
}

@media (max-width: 1199px) {
  .image {
    display: block;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

.portfolio .container .portfolio-content .card {
  background-color: white;
}

.portfolio .container .portfolio-content .card img {
  max-width: 100%;
}

.portfolio .container .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .container .portfolio-content .card .info h3 {
  margin: 0;
}

.portfolio .container .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding: 60px 60px 0 0;
}

.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about-content .image1{
    margin: 0 auto 60px;
  }
}

.about-content .image1 {
  position: relative;
  width: 250px;
  height: 375;
}

.about-content .image1::before {
  content: "";
  position: absolute;
  background-color: #edeced;
  width: 100px;
  top: -40px;
  height: calc(100% + 80px);
  left: -20px;
  z-index: -1;
}

.about-content .image1::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid #10cab7;
  border-bottom: 80px solid #10cab7;
  z-index: -1;
  right: -150px;
  top: -40px;
}

.about-content .image1 img {
  max-width: 100%;
}

.about-content .text {
  flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #10cab7;
}

.about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding: 60px 60px 0 0;
  background-color: #f6f6f6;
}

.contact .info {
  padding: 60px 60px 0 0;
  text-align: center;
}

.contact .info .lable {
  font-size: 30px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: #10cab7;
  text-decoration: none;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}

.contact .info .social i {
  margin-left: 10px;
  color: #2c4755;
}

@media (max-width: 767px) {
  .contact .info .link,
  .contact .info .lable {
    font-size: 25px;
  }
}
/* End Content */
/* Start Footer */
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

.footer span {
  font-weight: bold;
  color: #10cab7;
}
/* End Footer */
